[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.6"
django-taggit = "*"
django-sendfile = "*"
south = "*"
djangorestframework = "==3.10.3"
django-sendfile2 = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
